---
// https://flowbite.com/blocks/marketing/pricing/#default-pricing-cards

import { Check } from '@lucide/astro';

interface Option {
	name: string,
	text: string,
	price: number,
	features: string[],
};

interface Props {
	title: string;
	subtitle: string;
	options: Option[];
};

const props = Astro.props;
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{props.title}</h2>
        <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">{props.subtitle}</p>
      </div>
      <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
        {props.options.map(opt => (
          <!-- Pricing Card -->
          <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
            <h3 class="mb-4 text-2xl font-semibold">{opt.name}</h3>
            <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">{opt.text}</p>
            <div class="flex justify-center items-baseline my-8">
              <span class="mr-2 text-5xl font-extrabold">${opt.price}</span>
              <span class="text-gray-500 dark:text-gray-400">/month</span>
            </div>
            <!-- List -->
            <ul role="list" class="mb-8 space-y-4 text-left">
              {opt.features.map(feat => (
                <li class="flex items-center space-x-3">
                  <!-- Icon -->
                  <span class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"><Check /></span>
                  <span>{feat}</span>
                </li>
              ))}
            </ul>
            <a href="#" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900 mt-auto">Get started</a>
          </div>
        ))}
      </div>
  </div>
</section>
